.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

div.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #54627B

    ;
    width: 70%;
    height: 50%;
    border-radius: 30px;
}

div.Side {
    display: inline-block;

}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.labels {
    font-size: 20px;
    color: #EDF2F3;
    ;
}

input.login {
    background-color: #1F3541;
    border-radius: 6px;
    padding: 12px 36px;
    font-size: 20px;
    margin: 20px;
    color: #EDF2F3

    ;
}

CardTime.magin {
    margin: 12px;
}

input.login_campos {
    background-color: #54627B;
    color: #EDF2F3;
    border: none;
    border-bottom: 2px solid #1F3541;
}

input.prop_up {
    background-color: #1F3541;
    color: #EDF2F3;
    border: none;
    border-bottom: 2px solid #54627B;
    width: "100%"
}

div.background {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #1F3541;
}