:root{
    --coisa: #ffffff;
}

*{
    transition: 0.5s;
}

.body{
    background-color: black !important;
    background: no-repeat center;
    background-size: contain;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    border-radius: 10px;
    margin: 0 10px;
    width: 325px;
    height: 270px;
    box-shadow: inset 0px -170px 50px -50px rgba(0, 0, 0, 0.849);
    transition: 0.3s;
}

.body .title-card{
    font-size: 30px;
    font-weight: bolder;
    transition: 0.1s;
    margin: 0 10px;
}
.body .sub-card{
    font-size: 18px;
    font-weight: normal;
    transition: 0.1s;
    margin: 20px 10px;
    margin-top: 0;
}

.body video{
    height: 270px;
    width: 223px;
    position: absolute;
    display: none;
    border-radius: 10px;
}

.botaoFecha{
    display: none;
    padding: 3px;
    border-radius: 50%;
}

.escopo-secundary .line:hover{
  background-color: #414141;
  cursor: pointer;
}

.escopo-secundary .line:hover .botaoFecha{
    display: flex;
}

.escopo-secundary .line .botaoFecha:hover{
    background-color: red;
}

a{
    text-decoration: none !important;
}

.escopo-secundary .line:hover .body{
    background-size: cover;
    color: #1ab26b;
    height: 300px;
    box-shadow: inset 0px -121px 40px 20px rgb(0 0 0);
    cursor: pointer;
}

.escopo-secundary .line:hover .title-card{
    font-size: 35px;
    cursor: pointer;
}

.escopo-secundary .line:hover .sub-card{
    font-size: 21px;
    cursor: pointer;
}
